Repository IgorM-Oliveira/ChallengerVueJs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx standard --fix, npx eslint --fix

add dist gitignore
  .gitignore
Due: none

remove dist
  .gitignore
Due: none

add /dist
  dist/css/app.281b204b.css
  dist/css/chunk-vendors.d38757da.css
  dist/favicon.ico
  dist/img/link.d1692344.svg
  dist/img/login.3b153736.svg
  dist/img/register.18fc5183.svg
  dist/index.html
  dist/js/app.7981f26b.js
  dist/js/app.7981f26b.js.map
  dist/js/chunk-vendors.22147c61.js
  dist/js/chunk-vendors.22147c61.js.map
Due: npx standard --fix

remove Procfile
  Procfile
Due: none

modify .env and README
  .env
  .env.exemplo
  README.md
  src/services/http/axios.js
Due: npx standard --fix

remove server
  server.js
Due: npx standard --fix

remove express
  package.json
Due: none

actualize
  .gitignore
  src/App.vue
Due: npx eslint --fix

reload page
  src/App.vue
Due: npx eslint --fix

Delete .env
  .env
Due: none

edit gitignore
  .gitignore
Due: none

new files
  .env
  .env.exemplo
Due: none

bug reload
  src/App.vue
Due: npx eslint --fix

add favicon
  public/index.html
  public/logo-color.ico
Due: none

actualize readme
  README.md
Due: none

refactor array
  src/views/Ranking.vue
Due: npx eslint --fix

adjust list
  src/views/List.vue
Due: npx eslint --fix

remove 'Esqueceu a Senha'
  src/views/Login.vue
Due: npx eslint --fix

adjust errors and massages
  src/services/http/list.js
  src/services/http/login.js
  src/services/http/register.js
  src/views/Login.vue
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

adjust .env and connections
  .env.exemplo
  src/services/http/axios.js
Due: npx standard --fix

adjust .env and connections
  src/services/http/login.js
  src/views/Login.vue
Due: npx standard --fix, npx eslint --fix

adjust in login
  src/services/http/login.js
  src/views/Login.vue
Due: npx standard --fix, npx eslint --fix

adjust in register
  src/services/http/register.js
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

Path conditions:
  npx standard --fix: any of: *.js
  npx eslint --fix: any of: *.vue
