Repository IgorM-Oliveira/ChallengerVueJs: changes, and which lint-staged commands are due for each by the changed paths.
All: npx standard --fix, npx eslint --fix

.lintstagedrc:

{
    "*.js": [
        "npx standard --fix",
        "git add"
    ],
    "*.vue": [
        "npx eslint --fix",
        "git add"
    ]
}

actualize yarn lock
  yarn.lock
Due: none

actualize template pull request
  .github/pull_request_template.md
Due: none

add Bootstrap-vue
  package-lock.json
  package.json
  src/App.vue
  src/components/HelloWorld.vue
  src/main.js
  src/router/index.js
  src/views/About.vue
  src/views/Home.vue
  yarn.lock
Due: npx standard --fix, npx eslint --fix

initial navbar
  src/App.vue
  src/components/HelloWorld.vue
  src/router/index.js
  src/views/About.vue
  src/views/Home.vue
  src/views/List.vue
  src/views/User.vue
Due: npx standard --fix, npx eslint --fix

actualize Readme
  README.md
Due: none

name
  public/index.html
Due: none

add page login
  package.json
  src/App.vue
  src/router/index.js
  src/views/Login.vue
  vue.config.js
  yarn.lock
Due: npx standard --fix, npx eslint --fix

name project
  public/index.html
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

view login
  src/assets/login.svg
  src/assets/login_one.svg
  src/views/Login.vue
Due: npx eslint --fix

form login end register
  public/index.html
  src/App.vue
  src/assets/link.svg
  src/assets/login.svg
  src/assets/login_one.svg
  src/assets/logo.png
  src/assets/register.svg
  src/components/HelloWorld.vue
  src/components/Link.vue
  src/router/index.js
  src/services/routes.js
  src/views/Home.vue
  src/views/List.vue
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

modify
  src/App.vue
  src/router/index.js
  src/views/Login.vue
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

login and register finish
  .env
  .eslintrc
  package-lock.json
  package.json
  public/index.html
  src/App.vue
  src/components/Link.vue
  src/main.js
  src/services/http/axios.js
  src/services/http/login.js
  src/services/http/register.js
  src/services/http/router.js
  src/views/Login.vue
  src/views/Register.vue
  yarn.lock
Due: npx standard --fix, npx eslint --fix

gitflow-release-stash: 0.1.0
  yarn.lock
Due: none

adjust in files
  README.md
  src/services/http/login.js
  src/services/http/register.js
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

initial request
  src/components/Link.vue
  src/services/http/shortener.js
  src/services/routes.js
  src/views/Home.vue
Due: npx standard --fix, npx eslint --fix

adjust
  src/services/http/register.js
Due: npx standard --fix

add camp shortness and link with backand
  src/components/Link.vue
  src/services/http/shortener.js
Due: npx standard --fix, npx eslint --fix

create view list and request get
  src/services/http/list.js
  src/views/List.vue
Due: npx standard --fix, npx eslint --fix

authenticate routes and modify routes
  src/components/Link.vue
  src/services/http/axios.js
  src/services/http/list.js
  src/services/http/login.js
  src/services/http/register.js
  src/services/http/shortener.js
  src/views/Login.vue
  src/views/Register.vue
Due: npx standard --fix, npx eslint --fix

add update
  src/services/http/shortener.js
Due: npx standard --fix

adjust
  src/services/http/shortener.js
Due: npx standard --fix

add view ranking and route consult all
  .env
  src/App.vue
  src/router/index.js
  src/services/http/list-all.js
  src/views/Login.vue
  src/views/Ranking.vue
  src/views/User.vue
Due: npx standard --fix, npx eslint --fix

add filter in table
  src/components/Link.vue
  src/views/List.vue
  src/views/Ranking.vue
Due: npx eslint --fix

adjust filter
  src/services/http/list.js
  src/views/List.vue
Due: npx standard --fix, npx eslint --fix

adjust router
  src/services/http/list-all.js
  src/services/http/list.js
  src/views/Ranking.vue
Due: npx standard --fix, npx eslint --fix

remove anonymous
  src/views/Login.vue
Due: npx eslint --fix

refactor route
  src/views/Login.vue
  src/views/Register.vue
Due: npx eslint --fix

login user anonymous
  src/services/http/login.js
  src/views/Login.vue
Due: npx standard --fix, npx eslint --fix

remove yarn.lock
  yarn.lock
Due: none

add server.js
  .gitignore
  package-lock.json
  package.json
  server.js
Due: npx standard --fix

add engines
  package.json
Due: none

adjust
  package-lock.json
  package.json
Due: none

add Procfile and edit url bd
  .env
  .env.exemplo
  Procfile
  package.json
  src/services/http/axios.js
  src/services/http/login.js
Due: npx standard --fix

add build
  Procfile
Due: none

edit Procfile
  Procfile
  package.json
Due: none

remove disc
  .gitignore
Due: none

add dist
  .gitignore
Due: none

solicited
  .gitignore
  Procfile
Due: none

add static configuration
  static.json
Due: none
